



.grid {
	height: 480px;
}
/*左*/
.grid-col1 {
	width: 190px;
	height: 100%;
	background-color: #6e6568;
	color: #fff;
	font-size: 14px;/*只对反斜杠有效*/
	position: relative;
}
	/*广告*/
.ad {
	width: 250px;
	height: 480px;
	position: absolute;
	top:0;
	left: -250px;
}

.ad-r {
	position: absolute;
	top:0;
	left: 250px;
	z-index: 999;
	width: 0;
	height: 480px;
	background:url(../images/ad-r.jpg);
	/*谁做动画给谁加过渡*/
	transition:all 0.6s ;


}
.ad:hover .ad-r { /*鼠标经过ad时 ，里面ad-r盒子宽度变大显示出来*/
	width: 990px;


}

.grid-col1 a {
	color: #fff;
	font-size: 14px;/*给链接字的*/
	margin: 0 3px; /*上下0左右3*/

}
.grid-col1 a:hover {
	color: #f10215;

}
.grid-col1 ul {
	padding: 10px 0;

}
.grid-col1 ul li {
	padding-left: 12px;
	height: 29px;
	line-height: 29px;

}
.grid-col1 ul li:hover {
	background-color: #9c9698;


}

/*中*/

.grid-col2 {
	width: 790px;
	height: 100%;
	margin-left: 10px;
}
.grid-col2-t {
	position: relative;

}
.arrow-l,
.arrow-r {
	position: absolute;
	top:50%;/*走父亲的50%*/
	width: 30px;
	height: 60px;
	background:rgba(0,0,0,.3);
	transform: translateY(-50%);/*走自己的50%*/
	text-align:center;
	line-height: 60px;
	font-size: 20px;
	color:rgba(255,255,255,.6);
	font-family: arial;
	font-weight: normal;
}

.arrow-r {

	right: 0;
}

.circle {
	width: 167px;
	height: 20px;
	background:rgba(255,255,255,.3);
	position: absolute;
	left: 50%;
	bottom:20px;
	transform:translateX(-50%);
	border-radius:10px;
	padding-left: 10px; 
}
.circle li {
	height: 12px;
	width:12px;
	background-color: #fff;
	border-radius: 50%;
	float: left;
	margin: 4px;
	cursor:pointer;/*鼠标经过li时变成小手*/

}
.circle .current {
	background-color: #f10215;

}
.grid-col2-b div {
	float: left;
	margin-top:10px;


}
.grid-col2-b div:last-child {
	float: right;
	margin-top:10px;

}

/*右*/
.grid-col3 {
	width: 190px;
	height: 100%;

}
	/*登录*/
.login {
	height: 85px;
	border-bottom:1px solid #ccc;
	padding:15px;
	/*box-sizing: border-box;*/
	background-color: #fff;
}
.login-t {
	width: 95px;
	height: 60px;
	line-height: 20px;
	font-size:12px; 
	white-space: nowrap;/*强制一行内显示*/
	overflow: hidden;/*溢出隐藏*/
	text-overflow: ellipsis;/*超出的部分显示...*/
	color:#666;
	padding-left: 60px;
	position: relative;

}
.login-t a {
	color:#666;
}
.login-t a:hover {

	color: #f10215;
}
.user-info {
	width: 50px;
	height: 50px;
	position: absolute;
	left: 0;
	top: 0;
	/*border-radius: 50%;/*盒子变圆角
	overflow: hidden;/*图片切出圆*/
	background:url(../images/sprite_userinfo@1x.png) no-repeat -70px 0;

}
.user-info img {
	width:40px;
	border-radius: 50%;/*或者直接图片切圆角*/
	margin:5px;
}
.login-b a {
	display: inline-block;
	width: 70px;
	height: 20px;
	line-height: 20px;
	border:2px solid #f10215;
	margin-right: 3px; 
	text-align:center;
	color: #f10215;
}
.login-b a:hover {
	background-color: #f10215;
	color: #fff;
}

	/*新闻*/
.news {
	height: 155px;
	border-bottom:1px solid #ccc;
	background-color: #fff;
	padding:7px 13px 0;
	box-sizing: border-box;
}
.news-t {
	height: 19px;
	border-bottom:1px solid #ccc;
	position: relative;
}
.news-t a {
	height: 17px;
	line-height: 17px;
	float: left;
}
.cuxiao {
	width: 38px;
	border-right: 1px solid  #ccc;
}
.gonggao {
	margin-left:15px;
}
.news-t .more {

	float: right;
}
.news-t div {
	height: 2px;
	width: 28px;
	background-color: #f10215;
	position: absolute;
	bottom:-1px;
	left: 0;
}
.news-b {
	padding-top: 15px;


}
.hide {
	display: none;
}
.show {
	display: block;
}
.news-b li {

	height: 23px;
	line-height: 23px;
	white-space: nowrap;/*强制一行内显示*/
	overflow: hidden;/*溢出隐藏*/
	text-overflow: ellipsis;/*超出的部分显示...*/
}



/*扩展模块*/
.expend {
	height: 209px;
	background-color:#fff;
	overflow: hidden;/*expend继承了父亲190 所以可以切割*/ 
}
.expend ul {
	width: 195px;/*父亲190 但是li超过了190 48*4=192 扩展盒子使li可以摆放*/
}
.expend li {
	width: 47px;
	height: 69px;
	border-right:1px solid #ccc;
	border-bottom:1px solid #ccc;
	float: left;
}
.expend li a {
	display: block;
	padding-top:13px; 
	text-align: center;
	font-size: 14px;
	font-weight: normal;

}
.expend li i{
	display:block; 
	margin: 0 auto;
	width: 18px;
	height: 25px;
	margin-bottom: 8px;
	background: url(../images/sprite_fs@1x.png) no-repeat -5px -88px;

}